#project_ID has to start by letters instead of numbers.
project_ID	M30
sampleinfo	/data_center_03/Project/RY2015A08C03-1/20150401/rawData/sampleinfo.list
work_directory	/data_center_03/Project/RY2015A08C03-1/merge_20150402
rawdata	/data_center_03/Project/RY2015A08C03-1/20150401/rawData
quality_system	33
## if you split split library by this pipeline, just put "NON" here, or you should have a list file, which
## show each sample data on two line with the PE1 before PE2.
miseq_pe_list	NON
#ITS fp: GCATCGATGAAGAACGCAGC	rp: TCCTCCGCTTATTGATATGC
#16s fp1: CCTACGGGNGGCWGCAG	rp1: GACTACHVGGGTATCTAATCC
#16s fp2: ACTCCTACGGGAGGCAGCAG	rp2: GGACTACHVGGGTWTCTAAT
forwardprimer	CCTACGGGNGGCWGCAG
reverseprimer	GACTACHVGGGTATCTAATCC
average_quality_cutoff	53
max_N	3
##16s 425bp, ITS 363bp
min_length	250
max_length	500
node_group	all.q

### analysis part
16s_or_ITS	16s
rdp_confidence	0.8
rarefaction_step	30
## softwares

perl	/home/snowflake/local/bin/perl
pandaseq	/home/snowflake/local/bin/pandaseq
usearch	/home/snowflake/local/bin/usearch7.0.1090_i86linux32
java	/home/snowflake/softwares/jdk1.8.0_25/bin/java
jar /home/snowflake/softwares/RDP-classifier/RDPTools/classifier/dist/classifier.jar
python	/home/snowflake/local/bin/python2.7
pick_rep_set.py	/home/snowflake/local/bin/pick_rep_set.py
make_otu_table.py	/home/snowflake/local/bin/make_otu_table.py
biom	/home/snowflake/local/bin/biom
align_seqs.py	/home/snowflake/local/bin/align_seqs.py
filter_alignment.py	/home/snowflake/local/bin/filter_alignment.py
make_phylogeny.py	/home/snowflake/local/bin/make_phylogeny.py
summarize_taxa_through_plots.py	/home/snowflake/local/bin/summarize_taxa_through_plots.py
alpha_rarefaction.py	/home/snowflake/local/bin/alpha_rarefaction.py
beta_diversity_through_plots.py	/home/snowflake/local/bin/beta_diversity_through_plots.py
summarize_taxa_through_plots.py	/home/snowflake/local/bin/summarize_taxa_through_plots.py


